@font-face {
    font-family: 'prestageregular';
    src: url('prestage_regular-webfont.woff2') format('woff2'),
         url('prestage_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*@font-face {
font-family: 'lehavre';
font-style: normal;
font-weight: normal;
src: local('Le Havre'), url('LeHavre.woff') format('woff');
}
@font-face {
    font-family: 'Monopoly';
    src: url('Monopoly-Regular.woff2') format('woff2'),
         url('Monopoly-Regular.woff') format('woff');
}*/
@font-face {
    font-family: 'HelvNew';
    src: url('HelveticaNowDisplay-Regular.woff2') format('woff2'),
         url('HelveticaNowDisplay-Regular.woff') format('woff');
}